$black: #111
$subtle_black: #333
$red_bg: #7F000C
$white: #eee
$real_white: #fff
$dirty_white: #f1f1f1
$red: #a80100
$alt_red: #ff4b33
/*alternative*/
$black: #333
$subtle_black: #333
$red_bg: #ec6f66
$white: #eee
$real_white: #fff
$dirty_white: #fefefe
$red: #ff4b33
$alt_red: #ec6f66

$serif: "Merriweather", "Times New Roman", serif
$sans: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif