.row
  .large-12.columns
    %h1 Super Paint privacy policy
.row
  .large-12.columns
    %p Our privacy policy describes how we retrieve, store or use the information acquired through this website and the Super Paint app (the "<strong>services</strong>"). It is important that you understand the collected information and how we use it, since accessing the services implies you consent to our privacy policy.
  .large-12.columns
    %p Our company (1uptalent desarrollo de software S.L.) can collect information about the use of the services.
    %p This information is collected by third parties (Google Analytics) annonimously (no person can be identified throght the collected data). The information is shared with 1uptalent desarrollo de software S.L. in order to acquire a better understanding of the use of the services.

  .large-12.columns
    %h2 Third parties
    %p <strong>We do not share</strong> information about users of the services with third parties like advertisers or sponsors. If requested, we would share aggregate data with auditors or security forces.
    %p The services do not display advertisment of any kind (own, affiliates or advertising networks).
    %p The services measure the number of users, time spent, interactions… using Google Analytics. More information about their <a href="http://www.google.com/intl/en_ALL/privacypolicy.html">privacy policy is available</a>.
  .large-12.columns
    %small (This is a translation of <a href='privacy-es'>the spanish version</a>, which in case of conflict shall  prevail above this version)
