.row
  .large-12.columns
    %h1 Política de privacidad de Super Paint
.row
  .large-12.columns
    %p Nuestra política de privacidad describe como recogemos, guardamos o utilizamos la información que recabamos a través de este sitio web y la app Super Paint (los "<strong>servicios</strong>"). Es importante que entienda que información recogemos y como la utilizamos ya que el acceso a este sitio implica la aceptación nuestra política de privacidad.
  .large-12.columns
    %p Nuestra compañía (1uptalent desarrollo de software S.L.) puede recoger información sobre el uso de los servicios.
    %p La información es recogida por terceros (Google Analytics) de forma anónima (no se identifica a la persona/dispositivo) y compartida con 1uptalent desarrollo de sofware S.L. con el objetivo de comprender mejor el uso de los servicios.

  .large-12.columns
    %h2 Terceros
    %p <strong>No compartimos</strong> información sobre los usuarios de los servicios con terceros como puedan ser anunciantes, o patrocinadores. En caso necesario, podría ser proporcionada a auditores o fuerzas de seguridad.
    %p Los servicios tampoco albergan publicidad propia, de afiliados ni de redes publicitarias.
    %p Los servicios miden el número de usuarios, tiempo de uso, interacciones, etc… con Google Analytics. Puede ver más información sobre <a href="http://www.google.com/intl/es_ALL/privacypolicy.html">su política de privacidad</a>.
