.row
  .large-8.large-push-2.medium-10.medium-push-1.columns
    %h1 404 - Page not found
    %p We don't blame you, URLs are a tricky thing for normal people.
    %p May be you have a wrong URL, may be the page was removed or, most probably, someone else linked the wrong page.
.row
  .large-8.large-push-2.medium-10.medium-push-1.columns
    %h2
      Please, don't worry, we have some interesting pages for you:
    %ul
      %li
        %a(href="/") The "Home", aka start over
      %li
        %a(href="/team") The "Team", aka watch our egos
      %li
        %a(href="/blog") The "Blog", aka we don't write so much
