%footer
  .row
    .large-6.columns
      1uptalent
    .large-6.columns
      %ul.inline-list.right
        %li
          %a{href: 'https://github.com/1uptalent'} github
        %li
          %a{href: 'https://twitter.com/1uptalent'} @1uptalent
%script{src: "//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"}
%script{src: "//cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/js/foundation.min.js"}
:javascript
  $(document).foundation()
