%footer
  .row
    .large-6.columns
      1uptalent
    .large-6.columns
      %ul.inline-list.right
        %li
          %a{href: 'https://github.com/1uptalent'} github
        %li
          %a{href: 'https://github.com/twitter'} twitter