.row
  .large-12.columns
    %h1 Abel Muiño
.row
  .large-6.columns
    %img.avatar{data: {interchange: "[img/abel.jpg, (default)], [http://www.gravatar.com/avatar/d86345fbccb60f2ac80f6d2fad48baaa?s=150, (small)]"}}
    %noscript
      %img{src: 'img/abel.jpg'}
  .large-6.columns
    %h2 Who I am
    %p A developer who knows that business value is not on my work, but on what you will achieve with the result of it.
    %p I devoted half of my professional life to java. Now I’m in love with ruby and rails.
    %p I’m a dreamer. A 6-year-old boy programming an Spectrum 48k. An engineer on a data integration startup. A developer at a big telco. A consultant on a banking software company. An entrepreneur learning from his mistakes. A strong believer in open source. An apple-fanboy.
    %h2 Who I’m not
    %p I’m not the average consultant you might have had to endure.
    %p Not someone wanting to get rich fast. Not a bureaucrat. Not an interchangeable resource. Not happy if you are not happy.
    %h2 Who I want to be
    %p Someone who’s made the world a little better for someone. The founder of a company that all our clients can recommend. A good husband and even better father.
.row
  .panel.large-6.columns.large-offset-6
    = partial 'contact_amuino'