.row
  .large-12.columns
    %h1 Contact
    %p
      You can contact 1uptalent directly by sending an email to
      %a(href="mailto:amuino@1uptalent.com?subject=Some questions about 1uptalent") Abel Muiño
      or
      %a(href="mailto:germandz@1uptalent.com?subject=Some questions about 1uptalent") German Del Zotto.
    %p All comments and questions are welcome. Including any things you like or dislike about this site.
.row
  .large-12.columns
    %h2 Mail Address
    %p We are located in Madrid, Spain. Send us postcards here:
  .large-5.large-offset-1.columns
    %span 1up talent desarrollo de software SL
    %br
    %span Bravo Murillo 244 bis, 1º
    %br
    %span 28020 Madrid
    %br
    %span Spain
  .large-5.large-offset-1.columns
    %a(href="http://maps.google.com/maps?f=q&source=embed&hl=es&geocode=&q=BRAVO+MURILLO+Num+244,+28020+Madrid&aq=&sll=37.0625,-95.677068&sspn=55.192325,70.576172&ie=UTF8&hq=&hnear=Calle+de+Bravo+Murillo,+244,+28020+Madrid,+Comunidad+de+Madrid,+Espa%C3%B1a&ll=40.459422,-3.699474&spn=0.016326,0.008583&z=14&iwloc=A" target="_map")
      %img(height="200" width="270" src="http://maps.google.com/maps/api/staticmap?center=Calle+de+Bravo+Murillo,+244,+28020+Madrid,+Comunidad+de+Madrid,+Espa%C3%B1a&zoom=16&size=270x200&maptype=roadmap&markers=color:red|label:1|40.459422,-3.699474&sensor=false")
.row
  .large-12.columns
    %h2 Is it urgent?
    %p
      Call us!
      %a(href="callto:+34658030807") +34 658 03 08 07
.row
  .large-12.columns
    %h3 The fine print
    %p 1up talent desarrollo de software s.l.
    %p Inscrita en el Reg. Mercantil de Madrid, Tomo 28.663, Folio 130, Hoja M-516176, Inscripción 1, C.I.F. B-86186913