.row
  .large-12.columns
    %h1 German Del Zotto
.row
  .large-6.medium-5.columns.small-only-text-center
    %img.avatar{data: {interchange: "[#{image_path('img/german.jpg')}, (default)], [http://www.gravatar.com/avatar/884b5d1e91b826afc8c6b4fc3429dbd0?s=300, (small)]"}}
    %noscript
      %img{src: image_path('img/german.jpg')}
  .large-6.medium-7.columns
    %h2 Who I am
    %p A programmer, a developer o just someone who loves to see how businesses gets better with great software.
    %p A generalizing specialist, I enjoy teaming with specialists. I have worked with many people in different countries and I have learned things from a vast diversity.
    %h2 Who I’m not
    %p Someone who does things without asking why. I need to understand what I am doing.
    %p I’m not obstinate, I like to change my mind but you need to convince me.
    %h2 Who I want to be
    %p That guy who others wants to have in their team.
    %p Someone who creates a better place in the world, for my friends, colleagues, family and customers.
.row
  .panel.large-6.columns.large-offset-6
    = partial 'contact_germandz'
