%section.slogan.row
  .fixed-size.small-centered.columns
    .tag-line
      You dreamed it...
      %br
      %strong 
        Let's build it 
        %span together
    .message
      We develop your software without hurting your business.
      %br
      We share our experience with your team so you don't depend on us.
      %br
      We show you progress every week.
      %br
      %strong We play in your team
.row
  .large-12.columns
    %h1 Your development boutique
.row
  .large-12.columns
    %p Making great web applications is what we love. We thrive on growing ideas that have a chance of changing the world. Or maybe ideas that will just make a user happy. In any case, if you need someone to care about your business and develop the techie part of it, you have found the right people.
.row
  .large-6.columns
    %h3 Our values
    %ul
      %li We know that the only constant is change, and won’t impose artificial constraints when you need to take a detour
      %li We care about software that works, not writing (and making you write) pages and pages of documents
      %li We care about people changing the world, not specific processes
  .large-6.columns
    %h3 Our skills
    %p Like a master chef in his kitchen, we have strong convictions about the best way of doing our job. But you will only notice them in the awesome taste of our dishes.
    %p We can also let you into our kitchen and learn our ways. Or we can go to your place and cook with you. We keep no secret sauce hidden from you.
.row
  .large-12.columns
    %h2 The games we play:
.row
  .large-4.columns
    %h3 Top score
    %h4 You’ve found a problem worth solving. We can help you from there.
    %p We’ll work together as we draw a good solution. Prototyping, fast iterations, beautiful design and effective coding is what you can expect. We will team up with some trustworthy friends to bring you The A Team.
  .large-4.columns
    %h3 Final boss
    %h4 You know what you need, we’ll do it.
    %p You already have the work of some great designer. You know the general structure of your solution. We code that for you so you can get the coins.
  .large-4.columns
    %h3 Power up
    %h4 Your team needs some help. Let’s work together.
    %p We can spend time with your team and help them overcome any hurdles. We really like sitting with your team and work with them: nothing beats hands-on learning. We can also develop custom courses to meet your team’s needs.
