.row
  .large-12.columns
    %h1 Política de privacidad de SuperPaint
.row
  .large-12.columns
    %h2 Cookies
    %p El acceso a este sitio puede implicar la utilización de cookies. Las cookies son pequeñas cantidades de información que se almacenan en la aplicación utilizado por cada usuario para que el servidor recuerde cierta información que posteriormente pueda utilizar. Esta información permite identificarle a usted como un usuario concreto pero de manera anónima. Al descargar esta aplicación está aceptando implícitamente el uso de las mismas
  .large-12.columns
    %h2 Terceros
    %p No compartimos información sobre los visitantes de este sitio de forma anónima o agregada con terceros como puedan ser anunciantes, patrocinadores o auditores. Este sitio también no alberga publicidad propia, de afiliados, o de redes publicitarias.
    %p Este sitio mide el tráfico con diferentes soluciones que pueden utilizar cookies o web beacons para analizar lo que sucede en nuestras páginas. Actualmente utilizamos Google Analytics para la medición del tráfico de este sitio. Puede ver más información sobre la política de privacidad de este servicio en <a href="http://www.google.com/intl/es_ALL/privacypolicy.html">http://www.google.com/intl/es_ALL/privacypolicy.html</a>. Así mismo Google realiza un seguimiento anónimo de la utilización de la aplicación.
