.row
  .large-12.columns
    %h1 Team
    %p These are the people behind 1uptalent.
    %p For us, it is very important that you know the people you will work with. Feel free to contact us directly.
.row
  .large-12.columns
    %a(href="/abel-muino")
      %h2
        Abel Muiño
        %small founder
.row
  .large-4.columns.text-center
    %img.frame{src: 'http://www.gravatar.com/avatar/d86345fbccb60f2ac80f6d2fad48baaa?s=150'}
  .panel.large-8.columns
    = partial 'contact_amuino'
.row
  .large-12.columns
    %a(href="/german-del-zotto")
      %h2
        German Del Zotto
        %small founder
.row
  .large-4.columns.text-center
    %img.frame{src: 'http://www.gravatar.com/avatar/884b5d1e91b826afc8c6b4fc3429dbd0?s=150'}
  .panel.large-8.columns
    = partial 'contact_germandz'