.row
  .large-12.columns
    %h1 We love software
    %h1.subheader Our focus is software with a ROI
.row
  .large-12.columns
    %p
      = lorem.paragraph
.row
  .large-12.columns
    %h3 Buzzwords in our technological stack
    %ul.small-block-grid-2.medium-block-grid-4.large-block-grid-6
      %li Ruby on Rails
      %li CoffeeScript
      %li SASS
      %li Backbone.js
      %li MySQL
      %li PostgreSQL
      %li HAML
      %li Java
      %li Redis
      %li Cordova/Phonegap
      %li Git
      %li Ruby
      %li Node.js
      %li iOS
      %li C
      %li Javascript
      %li Docker
      %li Android
      %li Ubuntu
      %li HAProxy
      %li Amazon Web Services
      %li Puppet
      %li Ansible
      %li HTML5
