.row
  .large-12.columns
    %h1 We love startups
    %h1.subheader We develop your business
.row
  .large-12.columns
    %h2 Developer Angels
    %p Playing in your team, as developers, as CTOs, as technology advisors
    %h4 we don't charge for consulting
.row
  .large-12.columns
    %h2 Experience
    %p
      We've been the developers team for
      %a{href: 'http://wayra.org/es/video/valioo-demoday-wayra-espana-2012'} Valioo
      and
      Invoost, startups accelerated by
      %a{href: 'http://www.youtube.com/watch?v=4COYs_8fIY8'} WAYRA
    %p
      In
      %a{href: 'http://tetuanvalley.com'} Tetuan Valley
      we supported to many entrepreneurs in the their first steps of their projects.
.row
  .large-12.columns
    %h2 How we work
    %p Every week (or day) you see the growth of your project
    %h4 we don't charge for bug fixing
    %h4 we don't charge for software maintenance
