header
  background: $black
  padding: 15px 5%
  .top-bar
    ul li > a, h5
      font-family: $sans
    h1
      text-indent: -9999px
      background: image-url('logo.png') no-repeat
      +background-size(160px 50px)
      width: 160px
      margin: 10px !important
    &.expanded
      background: $black
      .toggle-topbar a span
        +box-shadow(none)