body.index
  section.main
    padding-top: 0
  .slogan
    max-width: 100%
    background: $red_bg
    &, h1
      color: $white
  h1, h2, h3
    margin: 1em 0
  h3
    border-bottom: 1px solid $red_bg
  h4
    height: 4em
    margin-bottom: 1em