body.index
  section.main
    padding-top: 0
  section.slogan
    padding: 0.5em 0
    max-width: 100%
    background: $red_bg
    color: $real_white
    font-family: $header-font-family
    .fixed-size
      @media #{$small-only}
        max-width: 265px
      @media #{$medium-only}
        max-width: 596px
      @media #{$large-up}
        max-width: 805px
    .tag-line
      line-height: 6*1.7*12pt
      font-size: 6em
      margin: 1ex 0
      strong
        font-size: 1.55em
        span  
          font-size: 1.5em
      @media #{$medium-only}
        font-size: 4.7em
        line-height: 4.7*1.4*12pt 
        strong
          font-size: 1.4em
          span
            font-size: 1.5em
      @media #{$small-only}
        font-size: 2em
        line-height: 2*1.4*12pt 
        strong
          font-size: 1.4em
          span
            font-size: 1.5em
    .message
      font-size: 1.4em
      line-height: 1.3em
      strong
        font-size: 1.2em
        line-height: 1.5em
      @media #{$small-only}
        font-size: 1.2em
  h1, h2, h3
    margin: 1.5em 0 0.5em 0
  h3
    border-bottom: 1px solid $red_bg
  h4
    height: 4em
    margin-bottom: 1em
